<div class="justify-content-center align-items-center w-100 d-flex mb-3">
    <div class="row d-flex w-100 justify-content-center align-items-center">
        <div class="col-lg-8 col-10  py-2 text-center bg-danger rounded-4 text-sm wow animate__animated animate__FadeIn">
                Video not playing ? possibly because your browser or the player doesn't support codec please download and watch.
        </div>
    </div>
</div>
<div class="justify-content-center align-items-center w-100 d-flex mb-3">
    <div class="row d-flex w-100 justify-content-center align-items-center">
        <div class="col-lg-5 col-10  py-2 text-center bg-success rounded-4 text-sm wow animate__animated animate__FadeIn">
            If you find any broken links then please contact <a href="https://t.me/professorr_x" class="text-[16px] font-bold underline active:text-blue-600">Professorr</a>
        </div>
    </div>
</div>